body {
  padding-top: 54px;
}

.template{
	display:none;
}

.preview a div {
  width: 100%; 
  text-align: center; 
  font-size: 1.3em; 
  text-decoration: none;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
